body{
  color: white;
  background-color: rgb(138, 123, 123);
  font-family: Arial, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}






ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 16px;
  text-transform: uppercase;
}


.container {
    display: flex;
    justify-content: center;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centralizar horizontalmente e verticalmente */
  }
  
  p {
    font-size: 25px; /* Tamanho da letra desejado */
  }

a {
  color: white;
  text-decoration: none;

}

img {
  width: 700px;
  height: 500px;
}

.center {
  text-align: center;

}

.conteiner{
  padding: 10px 100px;
}

nav a:hover{
  color: rgb(125, 226, 125);
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  text-transform: uppercase;
}